<!doctype html>
<html lang="{% if lang_code %}{{ lang_code }}{% else %}sk{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="SPy o.z.">
    <link rel="icon" href="{{ url_for('static', filename='img/logo/favicon.ico') }}" sizes="16x16">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/python.css') }}" rel="stylesheet">
    {% for lang in langs %}{% if lang != lang_code %}
    <link rel="alternate" href="https://{{ CNAME }}{{ request.path|replace('/'+lang_code, '/'+lang, 1)|replace('index.html', '') }}" hreflang="{{ lang }}">
    {% endif %}{% endfor %}
    <link rel="canonical" href="https://{{ CNAME }}{{ request.path|replace('index.html', '') }}"/>
    {% if redirect_url %}<meta http-equiv="refresh" content="0; URL='{{ redirect_url }}'" />{% endif %}
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">{{ _('microbit:Slovensko spravuje SPy o.z.') }}</h4>
              <p class="text-muted">
                {{ _('Poslaním občianskeho združenia SPy (skratka \"Slovak Python\") je podpora vývojárov a používateľov programovacieho jazyka Python. Podporujeme a šírime používanie programovacieho jazyka Python a iných open source technológii a open source myšlienok v našej spoločnosti.') }}
              </p>
              <p class="text-muted">
                {{ _('Viac o nás nájdete na stránke našeho občianskeho združenia:') }} <a href="https://spy.python.sk" title="{{ _('webstránka SPy o.z.') }}" class="text-white">https://spy.python.sk</a>
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">{{ _('Nájdeš nás aj tu:') }}</h4>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/pyconsk" class="text-white">Twitter</a></li>
                <li><a href="https://facebook.com/pyconsk" class="text-white">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/spy-o--z-" class="text-white">LinkedIn</a></li>
                <li><a href="https://plus.google.com/u/0/b/114745643590416178453/114745643590416178453/posts" class="text-white">Google+</a></li>
                <li><a href="https://github.com/micropythonsk" class="text-white">GitHub</a></li>
                <li><a href="https://riot.python.sk/#/directory" class="text-white">Chat</a></li>
                <li><a href="mailto:info@microbit.sk" class="text-white">Email</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="{{ url_for('static', filename='img/logo/python_logo.svg') }}" class="header-logo" alt="Python logo" />
            <strong>{{ _('microbit:Slovensko') }}</strong>
          </a>
          <nav class="nav nav-masthead justify-content-right">
            {% for lang in langs %}{% if lang != lang_code %}
            <a class="nav-link navbar-brand d-flex" href="{{ request.path|replace('/'+lang_code, '/'+lang, 1)|replace('index.html', '') }}" class="navbar-brand d-flex align-items-right">{{ lang }}</a>
            {% endif %}{% endfor %}
          </nav>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
    {% block content %}{% endblock %}
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#navbarHeader">{{ _('Späť na začiatok') }}</a>
        </p>
        <p>{{ _('Stránky vytvorila Python komunita a zapojiť sa môžeš aj ty. Doménu spravuje občianské združenie SPy.') }}</p>
        <p>{{ _('Píšte na info@microbit.sk, tweetujte na <a href="https://twitter.com/pyconsk/" target="_blank">@pyconsk</a>.') }}<p>
        <p><small>{{ _('Fotky: Gareth Halfacree') }} <a href="https://www.flickr.com/photos/120586634@N05/albums/72157666779253585" target="_blank">flickr</a></small></p>
        <p><small>{{ _('Máme na stránke chybu? Vedel by si túto stránku vylepšiť? Toto je komunitou manažovaná webstránka, <a href="%(url)s" target="_blank">zapoj sa na GitHube</a> a pridaj sa tak ku komunite priaznivcov jazyka Python.', url='https://github.com/microbitsk/microbit.sk-website') }}</small></p>
        <p>
          <a href="https://github.com/micropythonsk/microbit.sk-website/edit/master/templates/index.html" class="btn btn-outline-secondary btn-sm">
             {{ _('Upraviť túto stránku') }}
          </a>
          <a href="https://github.com/microbitsk/microbit.sk-website/issues/new{% if lang_code == 'sk' %}?template=Bug_report.md{% else %}?template=Bug_report_en.md{% endif %}" class="btn btn-outline-secondary btn-sm">
             {{ _('Nahlásiť problém') }}
          </a>
          <a href="https://github.com/microbitsk/microbit.sk-website/issues/new{% if lang_code == 'sk' %}?template=Feature_request.md{% else %}?template=Feature_request_en.md{% endif%}" class="btn btn-outline-secondary btn-sm">
             {{ _('Navrhnúť zlepšenie') }}
          </a>
          <a href="https://crowdin.com/project/bbc-microbit-micropython" class="btn btn-outline-secondary btn-sm">
             {{ _('Pomôcť s prekladom') }}
          </a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/holder.min.js') }}"></script>
  </body>
</html>
