{% extends "body.html" %}

{% block content %}
<section class="jumbotron text-center">
<div class="container">
    <img src="{{ url_for('static', filename='img/microbit/26146391212_d21e009360_z.jpg') }}">
</div>
</section>

<div class="container">
<div class="row featurette text-center">
    <div class="col-md-6">
    	<a href="https://microbit.org" class="btn btn-outline-primary" role="button">microbit.org</a>
    	<p>Oficialne stránky BBC micro:bit</p>
    </div>
    <div class="col-md-6">
	<a href="https://ucimeshardverom.sk" class="btn btn-outline-primary" role="button">ucimeshardverom.sk</a>
	<p>Slovenská veriza projektu na vzdelávanie za pomoci BBC micro:bit</p>
    </div>
</div>
</div>
<!-- /END THE FEATURETTES -->
{% endblock %}
